.heading{
  color: gray;
}

.slider{
  vertical-align: middle;
}

body{
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	overflow-x: hidden;
}

/******************************************************************************/
/* Slider Text */

.text_align{
  /*dominant-baseline: central;*/
  vertical-align: top;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: auto;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

/******************************************************************************/
